{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Hola Mundo!</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    </head>
    <body>
        <h1 class="ejemplo">Prueba de prro</h1>
        <div class="grid-x" style="border: 1px solid green;">
            <h2 class="cell large-5">Elemento 1</h2>
            <h2 class="cell large-4">Elemento 2</h2>
            <h2 class="cell large-3">Elemento 3</h2>
        </div>
    </body>
</html>