{% extends 'base.html' %}

{% block title %}Lista departamentos{% endblock title %}

{% block content %}
{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista de departamentos</h1>
        <div class="cell">
            <table>
                <tbody>
                    {% for d in departamentos %}
                    <tr>
                        <td>{{d.name}}</td>
                        <td>{{d.short_name}}</td>
                        <td><td><a class="button warning" href="{% url 'empleados_area' d.short_name %}">Ver empleados</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

